# pip install -r requirements.txt
# python3.8 environment
--find-links https://download.pytorch.org/whl/torch_stable.html
--find-links https://pypi.ngc.nvidia.com
torch==1.10.0+cu111
torchvision==0.11.1+cu111
numpy>=1.24.0
opencv-python>=4.1.2
PyYAML>=5.3.1
scipy>=1.4.1
tqdm>=4.41.0
addict>=2.4.0
tensorboard>=2.7.0
pycocotools>=2.0
onnx>=1.14.0  # ONNX export
onnxsim>=0.4.33
# onnx-graphsurgeon>=0.3.20
onnxoptimizer>=0.3.0
onnxruntime>=1.16.0
onnxruntime-gpu>=1.16.0
thop  # FLOPs computation
# pytorch_quantization>=2.1.1
